@charset "utf-8";
/* CSS Document
*/

.tab {
	border: 1px solid rgb(221, 221, 221);
	padding: 7px 10px;
	vertical-align: top;
	text-align: center;
	min-width: 8px;
	background-color: rgb(240, 240, 240);
}
.tab2 {
    border: 1px solid rgb(221, 221, 221);
    padding: 5px 8px;
    vertical-align: top;
    font-size: 13px;
}
.tab3 {
    border: 1px solid rgb(221, 221, 221);
    padding: 7px 10px;
    vertical-align: top;
    font-size: 13px;
}

.form-control-my {
  display: block;
  width: 100%;
  height: 28px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-my.error {
  color: #d16e6c !important;
}
.error {
  color: #d16e6c;
  border-color: #f2a696 !important;
  font-size: 12px;
}
.input1{
  width:60%;
  height: 28px;
  margin-top:3px;
  margin-right:3px;
}
.input2{
  width:30%;
  height: 28px;
  margin-right:3px;
}
.input3{
  width:80%;
  height: 28px;
  margin-top:3px;
  margin-right:3px;
}
#to {
    height: 26px !important;
    background: #FFF;
    width: 120px !important;
}
#cc {
    height: 26px !important;
    background: #FFF;
    width: 120px !important;
}

input[type="date"],
input[type="text"]{
  border-radius: 0 !important;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  padding: 5px 4px 6px;
  font-size: 13px;
  font-family: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

input[type="date"]:outline,
input[type="text"]:focus {
  border:1px solid #f59942;
}
p.tip {
   text-indent: 3em;
   font-size: 14px;
   margin-bottom: 10px;
   margin-left: 60px;
}

.icon {
    font-size: 18px;
    margin-top:4px;
}
.icon:hover {
    font-size:150%;
}
select {
  padding: 3px 4px;
  height: 28px;
}

.ui-autocomplete {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: auto;
}


/*** Manifest ***/

/* Manifest container that wraps the elements and now acts as, and should be
   styled as, the input. */
div.mf_container {
  border: 1px solid #cccccc;
  cursor: text;
  display: inline-block;
  width: 80%;
  float: right;
}
div.mf_container :focus{
  border:1px solid #f59942;
}
/* Ordered list for displaying selected items. */
div.mf_container ol.mf_list {
  display: inline;
}

/* Selected item, regardless of state (highlighted, selected). */
div.mf_container ol.mf_list li.mf_item {
    border-radius: 10px;
    background-color: #eef7fb;
  /*  border: 1px solid #C0C0C0; */
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    padding: 2px 0px 0px;
}

/* Selected item that's highlighted by mouseover. */
div.mf_container ol.mf_list li.mf_item.mf_highlighted {
  background-color: #E0E0E0;
}

/* Selected item that's selected by click or keyboard. */
div.mf_container ol.mf_list li.mf_item.mf_selected {
  background-color: #C0C0C0;
}

/* Remove link. */
div.mf_container ol.mf_list li.mf_item a.mf_remove {
  color: #E0E0E0;
  margin-left: 10px;
  text-decoration: none;
}

/* Remove link that's highlighted. */
div.mf_container ol.mf_list li.mf_item.mf_highlighted a.mf_remove {
  color: #FFFFFF;
}

/* Remove link that's selected. */
div.mf_container ol.mf_list li.mf_item.mf_selected a.mf_remove {
  color: #FFFFFF;
}

/* Actual input, styled to be invisible within the container. */
div.mf_container input.mf_input {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 2px;
  outline: none;
  padding: 4px;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin:0 !important;
}

.text_box {
    width: 100% !important;
    min-height: 28px;
    max-height: 300px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    /*border: 1px solid #a0b3d6;*/
    border: 1px solid #d5d5d5;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}
.text_box:empty:before  {
    content: attr(placeholder);
   /*  position: absolute;*/
    color: #a9a9a9;
}
p {
    margin: 0 0 0px;
}
/* .text_box:focus{
    content:none;
}*/

.tab_button:hover{
    background-color: #e0f0ff!important;
}